<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Client Church | <%= yield(:title) %></title>
  </head>
  <body>
<h1>Church App</h1>
<p>
  This is the home page for the
  <a href="http://radianscientific.co.uk/">Client Church</a>
  Church application.
</p>

</body>
</html>