<% provide(:title, 'Ministries') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Client Church | <%= yield(:title) %></title>
  </head>
  <body>
<h1>Ministries in the Church</h1>
<p>
  Ministries in 
  <a href="http://radianscientific.co.uk/">Client Church</a>
  
</p>
<ul>
  <li> Choir </li>
  <li> Usher </li>
   <li> Drama </li>
   <li> Prayer </li>
</ul>

</body>
</html>